[Desktop Entry]
Exec=poseidon %U
Path=/lib/poseidon
Terminal=false
Type=Application
Icon=/lib/poseidon/icons/poseidon-logo.svg
StartupNotify=true
Categories=Network;GTK;

Name=Poseidon
Comment=A fast, minimal and lightweight browser
Comment[de]=Ein schneller, minimaler und leichter Browser
Comment[es]=Un navegador rápido, minimalista y ligero
Comment[fr]=Un navigateur rapide, minimal et léger
Comment[it]=Un browser veloce, minimale e leggero
